<?xml version="1.0" encoding="UTF-8"?>
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/util
  http://www.springframework.org/schema/util/spring-util.xsd">

  <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    <property name="securityManager" ref="securityManager"/>
    <property name="loginUrl" value="/login.html"/>
    <!--<property name="successUrl" value="/index.html"/>-->
    <property name="unauthorizedUrl" value=""/>
    <property name="filters">
      <util:map>
        <entry key="authc" value-ref="formAuthenticationFilter"/>
        <entry key="logout" value-ref="logoutFilter"/>
      </util:map>
    </property>
    <property name="filterChainDefinitions">
      <value>
        /=anon
        /js/**=anon
        /login.html=authc
        /logout=logout
        /**=authc
      </value>
    </property>
  </bean>

  <bean id="credentialsMatcher" class="com.wmf.jobmanager.shiro.RetryLimitCredentialsMatcher">
    <constructor-arg ref="cacheManager"/>
  </bean>
  <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
    <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
  </bean>

  <bean id="securityManager"
    class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
    <property name="realm" ref="realm"/>
  </bean>
  <bean id="realm" class="com.wmf.jobmanager.shiro.Realm">
    <property name="credentialsMatcher" ref="credentialsMatcher"/>
    <property name="cachingEnabled" value="false"/>
  </bean>

  <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

  <bean id="formAuthenticationFilter" class="com.wmf.jobmanager.shiro.FormAuthenticationFilter"/>

  <bean id="logoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter">
    <property name="redirectUrl" value="/login.html" />
  </bean>
</beans>